:root {
    --background-color: rgb(20,20,20);
    --text-color: rgb(200,200,200);
    --white: rgb(255, 255, 255);
    --projects-border: rgb(100,100,100); 
    --projects-background: rgb(30,30,30);
}

:root.dark-mode {
    --background-color: rgb(255,255,255);
    --text-color: rgb(55,55,55);
    --white: rgb(0, 0, 0);
    --projects-border: rgb(175,175,175); 
    --projects-background: rgb(245,245,245);
}

body {
    transition: background-color 0.1s ease, color 0.1s ease;
    background-color: var(--background-color) !important; 
    color: var(--text-color);
    text-align: center;
    font-family: Roboto, serif;
}

p img {
    height: 15px;
    width: auto;
    vertical-align: middle;
    margin-top:-3px;
}

* {
    box-sizing: border-box;
}

/* Classes */

.name {
    font-size: 40px;
}



@media (min-width: 600px) {
    .name {
        font-size: 50px;
    }
}

.name_gradient {
    background-image: linear-gradient(rgb(74, 151, 232), rgb(57, 57, 217));
    color: transparent;
    background-clip: text;
}

.title {
    color: var(--white);
    font-size: 20px;
}

.information {
    width:95%; 
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
}


@media (min-width: 800px) {
    .information {
        width: 600px;
    }
}

.information h1, h2 {
    color: var(--white);
    padding-bottom: 5px;
    margin: 0;
}

.information p {
    margin: 0;
    padding: 5px 10px;
    padding-top: 0px;
}

.links i {
    vertical-align: middle;
    color: var(--white);
    font-size: 36px;
    margin: 0 5px;
}


.projects {
    border-style: solid;
    border-color: var(--projects-border);

    border-width: 1px;
    border-radius: 15px;
    width: 100%;

    margin-top: 10px;
    padding: 10px;
    padding-right: 21px; /* Account for padding in .information p as well */
    cursor: pointer;
    position: relative;

    transition: border-color 0.2s ease, transform 0.2s ease;
}

.projects:hover {
    border-color: rgb(74, 151, 232);
    background-color: var(--projects-background);
    /*transform: scale(1.01);*/
}

.projects p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.projects a.ext {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
}


.projects a.int {
    position:relative;
    z-index:999;
    color: var(--white);
}

div a.int:hover {
    transition: background-color 0.2s ease, color 0.2s ease;
    color: rgb(74, 151, 232);
}

.footer {
    margin-top: 50px;
    margin-bottom: 25px;
}
.footer a {
    color: var(--text-color);
}

.footer a:hover {
    transition: background-color 0.2s ease, color 0.2s ease;
    color: rgb(74, 151, 232);
}

.icon-link {
    text-decoration: none;
}

.icon-link:hover i {
    background: linear-gradient(rgb(74, 151, 232), rgb(57, 57, 217));
    background-clip: text;
    color: transparent;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 10px;

    width: 30px;
    height: 30px;

    color: white;
    cursor: pointer;

    margin-left: 20px;
}

.toggle-btn i {
    font-size: 20px;
    color: var(--white);
}

.toggle-btn:hover {
    color: transparent;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}